* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.conteiner {
    width: 1366px;
    margin: 0 auto;
    min-height: 100%;
}

.clr {
    height: 384px;
    clear: both;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    padding-top: 63px;
}

.fa-search {
    color: #212121;
    float: right;
    padding: 0 15px;
    font-size: 30px;
}

.fa-search:hover {
    color: #6c6c6c;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 470px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px #6c6c6c;
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
}

.button:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.featurednew {
    height: 609px;
    background-color: #ffffff;
    padding-right: 68px;
}

.fn-header {
    padding-top: 120px;
}

.fn-menu {
    float: left;
}

.fn-menu-list {
    list-style-type: none;
    float: left;
}

.fn-menu-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    padding: 0 31px 0 9px;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
}

.fn-menu-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.fn-menu-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.exploreall {
    width: 200px;
    height: 13px;
    float: right;
    margin-top: 18px;
    margin-right: -12px;
}

.exploreall-link {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.exploreall-link:hover {
    text-decoration: underline;
}

.exploreall .fa-chevron-right {
    font-size: 16px;
}

.fn-product-list {
    list-style-type: none;
    width: 270px;
    height: 270px;
    background-color: #ffffff;
    margin-top: 50px;
    float: left;
    position: relative;
    margin-right: 30px;
}

.fn-fishnetchair {
    width: 270px;
    height: 270px;
    background-color: #ffffff;
    margin-top: 50px;
    float: left;
    position: relative;
}

.fn-fishnetchair-link {
    display: block;
    width: 270px;
    height: 270px;
    position: absolute;
}

.fn-fishnetchair-link:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
    outline: 1px solid #9c9c9c;
}

.fn-fishnetchair-link:hover img {
    opacity: 0.15;
}

.fn-fishnetchair-link:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}

.fn-circle {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px #6c6c6c;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 62px 111px 0 111px;
}

.fn-circle .fa-chevron-right {
    margin: 14px 18px;
    font-size: 20px;
}

.fn-fishnetchair-h3 {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-top: 19px;
    text-align: center;
}

.fn-fishnetchair-content {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    margin-top: 23px;
    text-align: center;
}

.exclusive-wrapper {
    width: 100%;
    height: 683px;
}

.exclusive-first {
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img1.jpg);
    float: left;
}

.exclusive-second {
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img.jpg);
    float: left;
}

.exclusive-p {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 228px 0 0 51px;
}

.exclusive-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin: 18px 0 0 51px;
}

.exclusive-p-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 374px;
    line-height: 24px;
    margin: 24px 0 0 51px;
    width: 400px;
}

.exclusive-button {
    margin: 34px 0 0 51px;
}

.trending_products {
    height: 1108px;
    background-color: #ffffff;
    padding-right: 68px;
}

.trending_products-header {
    padding-top: 120px;
}

.trending_products-header-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending_products-ul {
    margin-top: 64px;
    list-style-type: none;
    float: left;
}

.trending_products-list {
    float: left;
    margin: 0 30px 30px 0;
}

.trending_products-link {
    display: block;
    width: 370px;
    height: 370px;
}

.trending_products-link:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
}

.trending_products-link:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}

.hotdeal {
    background-image: url(img/slider.jpg);
}

.hotdeal-text {
    display: inline-block;
    margin-top: 287px;
}

.hotdeal-ht {
    color: #e53935;
}

.exclusive-wrapper-new {
    height: 690px;
    background-color: #ffffff;
    padding-top: 120px;
}

.exclusive-third {
    width: 570px;
    height: 570px;
    background-image: url(img/product-1-lg.jpg);
    float: left;
}

.exclusive-third p:first-child {
    margin-top: 186px;
}

.exclusive-new-products-ul {
    list-style-type: none;
}

.exclusive-new-products-list {
    float: left;
    margin: 0 0 30px 30px;
}

.exclusive-new-products-link {
    display: block;
    width: 270px;
    height: 270px;
}

.exclusive-new-products-link:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
}

.exclusive-new-products-link:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}

.mobileapp {
    height: 516px;
    background-image: url(img/back-img.jpg);
}

.mobileapp-text {
    padding-top: 125px;
}

.mobileapp-mp {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobileapp-mp-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    width: 500px;
}

.mobileapp-mp-p {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
}

.mobileapp-link {
    display: block;
    width: 135px;
    height: 40px;
    float: left;
    margin-top: 33px;
    border-radius: 7px;
    margin-right: 10px;
}

.mobileapp-link:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
}

.mobileapp-link:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}

.footer {
    width: 1370px;
    margin: 0 auto;
    height: 384px;
    background-color: #f7f7f7;
    margin-top: -384px;
}

.footer-one {
    padding-top: 120px;
}

.footer-contactus {
    float: left;
    width: 230px;
}

.footer-contactus-h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-contactus-p-first,
.footer-contactus-p-second {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    margin-top: 24px;
    width: 230px;
}

.useful_information {
    float: left;
    margin-left: 80px;
}

.useful_information-h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.useful_information-ul-first,
.useful_information-ul-second {
    list-style-type: none;
    float: left;
    margin-top: 23px;
}

.useful_information-ul-second {
    margin-left: 80px;
}

.useful_information-list {
    height: 25px;
}

.useful_information-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.useful_information-link:hover {
    color: #6c6c6c;
}

.stay_in_touch {
    float: left;
    margin-left: 80px;
    width: 370px;
}

.stay_in_touch-h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.stay_in_touch-p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    margin-top: 24px;
}

.stay_in_touch-form {
    margin-top: 26px;
}

.stay_in_touch-input-email {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 301px;
    height: 46px;
    float: left;
    padding-left: 15px;
    padding-right: 50px;
    outline: 1px solid #d9dee1;
    background-color: #ffffff;
}

.stay_in_touch-input-button {
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    position: relative;
}

.fa-paper-plane {
    position: absolute;
    transform: translate(-175%, 100%);
    color: #6c6c6c;
    font-size: 22px;
}

.fa-paper-plane:hover {
    font-size: 30px;
    transform: translate(-150%, 70%);
}

.fa-paper-plane:active {
    font-size: 22px;
    transform: translate(-175%, 100%);
}

.footer-two {
    margin-top: 69px;
}

.footer-two-p {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    float: left;
}

.footer-two-ul {
    list-style-type: none;
    float: left;
    margin-left: 146px;
    margin-top: -8px;
}

.footer-two-socialapps {
    float: left;
    margin-left: 5px;
}


.footer-two-socialapps-link {
    display: block;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-decoration: none;
    background-color: #6c6c6c;
    position: relative;
}

.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-pinterest-p {
    position: absolute;
    color: #f7f7f7;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.footer-two-socialapps-link:hover {
    box-shadow: 3px 5px 5px 2px #6c6c6c;
}

.footer-two-socialapps-link:active {
    box-shadow: 0 2px 5px 1px #6c6c6c;
}



.terms_conditions,
.privacy-policy_cookies {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    float: left;
    text-decoration: none;
}

.terms_conditions:hover,
.privacy-policy_cookies:hover {
    color: #212121;
}

.terms_conditions {
    margin-left: 147px;
}

.footer-two-p-new {
    margin: 0 10px 0 10px;
}

/*page products*/
.products-header {
    height: 360px;
    background-color: #f5f5f5;
}

.products-header-text {
    margin-top: 168px;
}

.products-header-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
}

.products-nav {
    height: 156px;
    background-color: #ffffff;
}

.products-nav-ul {}

.products-nav-list {
    list-style-type: none;
    float: left;
    padding-top: 71px;
}

.products-nav-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.products-nav-link-active {
    color: #212121;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #212121;
    padding: 10px 30px 10px 10px;
}

.products-nav-list:nth-child(2) a {
    border-bottom: 1px solid #212121;
}

.products-nav-list:nth-child(3) a {
    border-bottom: 1px solid #212121;
    padding: 10px 30px 10px 13px;
}

.products-nav-list:nth-child(4) a {
    margin-left: -25px;
}

.products-nav-link:nth-child(1n):hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.products-range {
    min-height: 1809px;
    padding-right: 68px;
    position: relative;
}

.products-range-item {
    float: left;
    margin: 0 30px 30px 0;

}

.products-range-arrow-repeat {
    float: left;
    height: 210px;
    width: 100%;
}

.products-range-arrow-repeat-link {
    display: block;
    height: 210px;
    width: 100%;
    position: absolute;
}

.fa-refresh {
    margin: 40px 585px 0 564px;
    color: #212121;
}

/*page contacts*/
.contact-us-clr {
    height: 500px;
}

.contact-us {
    padding-right: 62px;
}

.contact-us-ul {
    margin: 70px 0 70px 0;
}

.contact-us-list {
    list-style-type: none;
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    float: left;
    margin-right: 30px;
}

.contact-us-contacts {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.fa-map-marker {
    color: #212121;
    margin-top: 48px;
}

.contact-us-h3 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
}

.phone,
.email {
    display: block;
    color: #212121;
    text-decoration: none;
    margin-bottom: 15px;
}

.email:hover {
    text-decoration: underline;
}

.adress {
    font-weight: 300;
}

/*page product-details*/

.product-details-header {
    height: 120px;
}

.products-details-nav {
    height: 70px;
    background-color: #f4f4f4;
}

.product-details-nav-ul {
    width: 684px;
    margin: 0 auto;
}

.products-details-nav-list {
    list-style-type: none;
    float: left;
}

.products-details-nav-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    line-height: 70px;
    padding: 0 15px;
}

.products-details-nav-link-active {
    color: #212121;
}

.products-details-nav-link:hover {
    color: #212121;
}

.product-details-bigfoto-link {
    display: block;
    width: 570px;
    height: 570px;
}

.product-details-foto {
    width: 50%;
    float: left;
    margin-top: 72px;
}

.product-details-foto ul {
    width: 50%;
    height: 80px;
    margin: 0 auto;
}

.product-details-foto-list {
    list-style-type: none;
    float: left;
    margin-top: 10px;
}

.product-details-smallfoto-link {
    display: block;
    width: 70px;
    height: 70px;
    opacity: 0.5;
}

.product-details-smallfoto-link:hover {
    opacity: 1;
}

.product-details-description {
    width: 50%;
    float: left;
    margin-top: 72px;
}

.product-details-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 48px;
    text-align: center;
}

.product-details-p1 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 48px;
    text-align: center;
}

.product-details-p2 {
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.product-details-p2 .price {
    font-style: normal;
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
}

.product-details-button {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    border-radius: 35px;
    background-color: #f44336;
    width: 510px;
    height: 71px;
    text-align: center;
    line-height: 71px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 37px;
}

.product-details-p3 {
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.related-products {
    height: auto;
}

.related-products-header {
    padding-top: 245px;
}

.related-products-list {
    margin: 0 30px 120px 0;
}